body{
    font-family: "poppins", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background:url('BG.jpeg') center;
    background-size: cover;
}

.container {
    width: 300px;
    margin: 0 auto;
}

h1 {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
    border: 1px solid #ccc; /
    border-radius: 5px; 
}

li {
    border-bottom: 1px solid #ccc;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

li .checkbox {
    cursor: pointer;
}

li.checked {
    text-decoration: line-through;
}

li {
    border-bottom: 1px solid #ccc;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

li .checkbox {
    cursor: pointer;
}

li .delete-button {
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

